.nav-container{
    border: 2px solid black;
    display: flex;
    box-sizing: border-box;
    width: 100vw;
    height: 80px;
    padding: 0px 30px;
    background: var(--white, #FFF);
    box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.10);
}









