.form-Body-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.heading {
    color: var(--primary, #455487);
    font-family: Manrope;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
