.sideBar-Body-container{
  display: flex;
}

.container {
    display: flex;
    /* justify-content: center; */
    box-sizing: border-box;
    width: 100vw; 
    /* align-items: center; */
    gap: 60px;
    background: var(--background, #EEE);
    /* padding: 0px 20px;  */
    align-items: flex-start; 
    /* gap: 60px; */
    position: relative;
  }

.sidebar {
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--background, #EEE);
    z-index: 1;
}

  
.formbody {
  flex: 1; /* Let the form take the remaining available width */
  padding-top: 60px;
  max-width: 705px;
  margin-left: auto;
}

.row p {
  color: var(--primary, #455487);
  font-family: Manrope;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
/* .resume-content {
  display: flex;
  width: 945px;
  padding: 60px 120px;
  flex-direction: column;
  align-items: flex-start;
  gap: 45px;
} */
.resume-section {
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 20px;
  background: var(--background-secondary, #FAFAFA);
  box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.10);
  max-width: 705px;
  }
  .resume-section h4 {
  color: var(--primary, #455487);
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.resume-section label {
  color: var(--grey, #606060);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
label {
  display: block;
  margin-bottom: 15px;
}
.add {
  margin-top: 20px;
  display: flex;
}
.add a{
  color: var(--primary-lighter, #8090CB);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}
.plus-icon {
  width: 16px; /* Adjust the width and height to fit your icon */
  height: 16px;
  margin-right: 5px;
}
input {
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 15px;
  margin-top: 8px;
  margin-bottom: 15px;
  border: none;
  border-radius: 10px;
  }
input[type=“text”] {
  background-color: var(--background, #EEE);
}
/* finish button */
input[type=“submit”] {
  display: inline-flex;
  padding: 12px 15px;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: var(--primary, #455487);
}